{% extends "base.html" %}

{% block announce %}
  <p> With the release of Sanctum of Rebirth (<a href="https://secure.runescape.com/m=news/sanctum-of-rebirth-launch-week">news post</a>), the <a href="https://pvme.io/pvme-guides/rs3-full-boss-guides/Sanctum-HM-mechanics/">Sanctum of Rebirth guide</a> will be updated more frequently to stay up to date.</p>
{% endblock %}

{% block extrahead %}
  {% set title = config.site_name %}
  {% if page and page.meta and page.meta.title %}
    {% set title = title ~ " - " ~ page.meta.title %}
  {% elif page and page.title and not page.is_homepage %}
    {% set title = title ~ " - " ~ page.title %}
  {% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ config.site_description }}" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta property="og:image" content="{{ config.site_url }}assets/images/social/index.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
{% endblock %}



<!-- Page content -->
{% block container %}
  <div class="md-content" data-md-component="content">
    <article class="md-content__inner md-typeset">
      {% block content %}
        {% if not page.meta.hide_actions %}
          {% include "partials/actions.html" %}
        {% endif %}
        {{ page.content }}
      {% endblock %}
    </article>
  </div>
{% endblock %}
