# PyCharm
.idea

# VS code
.vscode

# Python
*.pyc
__pycache__

# google docs api
credentials.json

# tox
.tox
.coverage

# mkdocs
site
docs/pvme-guides

# pvme-guides repo
pvme-guides

# env file
.env