site_name: PvM Encyclopedia Guides
site_url: https://pvme.github.io
site_description: "Up-to-date collection of all PvM guides from the PvME Discord Server."

extra:
  analytics:
    provider: google
    property: UA-189398108-1

theme:
  name: material
  logo: assets/logo-no-bg.png
  custom_dir: overrides
  favicon: assets/logo.ico
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - search.suggest
    - search.highlight
  #  - search.share
    - navigation.top
    - navigation.indexes
  palette:
  - scheme: slate
    toggle:
      icon: material/weather-night
      name: Switch to light mode
  - scheme: default
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode


plugins:
- search
#- git-revision-date-localized
- macros
- gen-files:
    scripts:
      - gen_pages.py

markdown_extensions:
  - pymdownx.keys
  - pymdownx.caret
  - pymdownx.saneheaders
  - pymdownx.tilde
  - pymdownx.emoji
  - admonition
  - footnotes
# - pymdownx.extra (markdown formatting in HTMl blocks)

extra_css:
  - stylesheets/extra.css
  - stylesheets/discordEmbed.css
  - stylesheets/discordInvite.css

extra_javascript:
  - javascripts/discordInvite.js

nav:
#  - Home:
#    - About: index.md
#    - How The Site Works : home/workings.md
#    - Changelog: home/changelog.md

#  - index.md

  - Home:
    - index.md
    - About : home/workings.md
    - Changelog: home/changelog.md