site_name: PVME Guides

extra:
  analytics:
    provider: google
    property: UA-189398108-1
  url_prefix: !ENV MM_DOCS_URL_PREFIX

theme:
  name: material
  logo: assets/logo-no-bg.png
  custom_dir: overrides
  favicon: assets/logo.ico
  features:
  - navigation.instant
  - search.suggest
  - search.highlight
#  - search.share
  - navigation.top
  palette:
  - scheme: slate
    toggle:
      icon: material/weather-night
      name: Switch to light mode
  - scheme: default
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode


plugins:
- search
#- git-revision-date-localized
- macros
- gen-files:
    scripts:
    - gen_pages.py

markdown_extensions:
- pymdownx.keys
- pymdownx.caret
- pymdownx.saneheaders
- pymdownx.tilde
- pymdownx.emoji
- admonition
# - pymdownx.extra (markdown formatting in HTMl blocks)

extra_css:
- stylesheets/extra.css
- stylesheets/discordEmbed.css
- stylesheets/discordInvite.css

extra_javascript:
- javascripts/discordInvite.js