.d-emoji {
    width: 1.375em;
    height: 1.375em !important;
    object-fit: contain;
    vertical-align: middle;
}

.media {
    max-width: 560px !important;
    max-height: 400px;
    display:block;  /* ensures images on a new page */
}

.md-grid {
    max-width: 80rem;
}

html {
    font-size: 128%;
}

@media (max-width: 600px) {
    .media {
        max-width: 100% !important;
    }
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

p {
    margin-block-start: .25em;
    margin-block-end: .25em;
}

.embed-code-inline {
    background-color: hsl(232 14% 15% / 1) !important;
    color: hsl(231deg 18% 86%) !important;
    border-radius: .1rem !important;
    font-family: monospace;
}