name: build

on:
  push:
    branches:
      - master

  schedule:
    # - cron: '0 1 * * *'
    - cron: '* */2 * * *'

  pull_request:
    branches:
      - master

jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Setup pipenv virtual environment
        run: |
          pip install pipenv
          pipenv sync

      - name: Clone pvme-guides repository
        run: git clone --depth 1 https://github.com/pvme/pvme-guides.git
      
      - name: Test build website
        if: github.event.pull_request.base.ref == 'master'
        run: pipenv run mkdocs build
        
      - name: Update website
        if: github.ref == 'refs/heads/master'
        run: pipenv run mkdocs gh-deploy --force
